Exercise Part 4

In [80]:
import pandas as pd

meteorites = pd.read_csv('C:/Users/63999/CPE311 Paala/Datasets/Meteorite_Landings.csv') # Loads the CSV file

In [82]:
meteorites['year'] = meteorites['year'].str.slice(start=6, stop=-11) # Slicing the year column

In [84]:
meteorites['year'] = pd.to_numeric(meteorites['year']) # Converting the year into a numeric data type

In [86]:
between05and09 = meteorites.query("`year` >= 2005 & year <= 2009") # Query that filters values that are between 2005 and 2009

In [88]:
met_count = between05and09['fall'].count() # The number of meteorites with fell and found values between 2005 and 2009

In [90]:
met_found = between05and09['mass (g)'][(between05and09.fall == 'Found')].quantile(0.95) # Create a variable for the found values

In [92]:
met_fell = between05and09['mass (g)'][(between05and09.fall == 'Fell')].quantile(0.95) # Create a variable for the fell values

In [65]:
foundfell = pd.DataFrame({'Count': [met_count],
                          'Fell': [met_fell],
                          'Found': [met_found]})

In [67]:
foundfell

   Count      Fell    Found
0   6974  100000.0  1841.64

In [77]:
meteorites.value_counts(subset=['mass (g)', 'fall'], normalize=False)

mass (g)     fall
1.30         Found    171
1.20         Found    140
1.40         Found    137
2.10         Found    130
2.40         Found    126
                     ...
149.88       Found      1
149.86       Found      1
149.70       Found      1
149.60       Found      1
60000000.00  Found      1
Name: count, Length: 13058, dtype: int64