In [13]:
import pandas as pd

meteorites = pd.read_csv('C:/Users/tipqc/CPE311 - Paala/datasets/Meteorite_Landings.csv', nrows=5)
meteorites

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21,Fell,01/01/1880 12:00:00 AM,50.77500,6.08333,"(50.775, 6.08333)"
1,Aarhus,2,Valid,H6,720,Fell,01/01/1951 12:00:00 AM,56.18333,10.23333,"(56.18333, 10.23333)"
2,Abee,6,Valid,EH4,107000,Fell,01/01/1952 12:00:00 AM,54.21667,-113.00000,"(54.21667, -113.0)"
3,Acapulco,10,Valid,Acapulcoite,1914,Fell,01/01/1976 12:00:00 AM,16.88333,-99.90000,"(16.88333, -99.9)"
4,Achiras,370,Valid,L6,780,Fell,01/01/1902 12:00:00 AM,-33.16667,-64.95000,"(-33.16667, -64.95)"

In [14]:
meteorites.name

0      Aachen
1      Aarhus
2        Abee
3    Acapulco
4     Achiras
Name: name, dtype: object

In [15]:
meteorites.columns

Index(['name', 'id', 'nametype', 'recclass', 'mass (g)', 'fall', 'year',
       'reclat', 'reclong', 'GeoLocation'],
      dtype='object')

In [16]:
meteorites.index

RangeIndex(start=0, stop=5, step=1)

In [25]:
meteorites.name[0]

'Aachen'

In [22]:
import requests
response = requests.get(
    'https://data.nasa.gov/resource/gh4g-f.json', # Attempting to check if the error argument works
    params={'$limit': 50_000}
)

if response.ok:
    paylod = response.json()
else:
    print(f'Request was not successful and returned code: {response.status_code}.')
    payload = None

Request was not successful and returned code: 404.

In [24]:
import requests
response = requests.get(
    'https://data.nasa.gov/resource/gh4g-9sfh.json', 
    params={'$limit': 50_000}
)

if response.ok:
    payload = response.json()
else:
    print(f'Request was not successful and returned code: {response.status_code}.')
    payload = None

In [124]:

meteorites = pd.read_csv('C:/Users/tipqc/CPE311 - Paala/datasets/Meteorite_Landings.csv')
meteorites.shape

(45716, 10)

In [32]:
meteorites.columns

Index(['name', 'id', 'nametype', 'recclass', 'mass (g)', 'fall', 'year',
       'reclat', 'reclong', 'GeoLocation'],
      dtype='object')

In [33]:
meteorites.dtypes

name            object
id               int64
nametype        object
recclass        object
mass (g)       float64
fall            object
year            object
reclat         float64
reclong        float64
GeoLocation     object
dtype: object

In [36]:
meteorites.head(10)

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,01/01/1880 12:00:00 AM,50.77500,6.08333,"(50.775, 6.08333)"
1,Aarhus,2,Valid,H6,720.0,Fell,01/01/1951 12:00:00 AM,56.18333,10.23333,"(56.18333, 10.23333)"
2,Abee,6,Valid,EH4,107000.0,Fell,01/01/1952 12:00:00 AM,54.21667,-113.00000,"(54.21667, -113.0)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,01/01/1976 12:00:00 AM,16.88333,-99.90000,"(16.88333, -99.9)"
4,Achiras,370,Valid,L6,780.0,Fell,01/01/1902 12:00:00 AM,-33.16667,-64.95000,"(-33.16667, -64.95)"
5,Adhi Kot,379,Valid,EH4,4239.0,Fell,01/01/1919 12:00:00 AM,32.10000,71.80000,"(32.1, 71.8)"
6,Adzhi-Bogdo (stone),390,Valid,LL3-6,910.0,Fell,01/01/1949 12:00:00 AM,44.83333,95.16667,"(44.83333, 95.16667)"
7,Agen,392,Valid,H5,30000.0,Fell,01/01/1814 12:00:00 AM,44.21667,0.61667,"(44.21667, 0.61667)"
8,Aguada,398,Valid,L6,1620.0,Fell,01/01/1930 12:00:00 AM,-31.60000,-65.23333,"(-31.6, -65.23333)"
9,Aguila Blanca,417,Valid,L,1440.0,Fell,01/01/1920 12:00:00 AM,-30.86667,-64.55000,"(-30.86667, -64.55)"

In [37]:
meteorites.tail(5)

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
45711,Zillah 002,31356,Valid,Eucrite,172.0,Found,01/01/1990 12:00:00 AM,29.03700,17.01850,"(29.037, 17.0185)"
45712,Zinder,30409,Valid,"Pallasite, ungrouped",46.0,Found,01/01/1999 12:00:00 AM,13.78333,8.96667,"(13.78333, 8.96667)"
45713,Zlin,30410,Valid,H4,3.3,Found,01/01/1939 12:00:00 AM,49.25000,17.66667,"(49.25, 17.66667)"
45714,Zubkovsky,31357,Valid,L6,2167.0,Found,01/01/2003 12:00:00 AM,49.78917,41.50460,"(49.78917, 41.5046)"
45715,Zulu Queen,30414,Valid,L3.7,200.0,Found,01/01/1976 12:00:00 AM,33.98333,-115.68333,"(33.98333, -115.68333)"

In [38]:
meteorites.info() # Information for the dataframe
                  # It shows which columns have NaN Values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45716 entries, 0 to 45715
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         45716 non-null  object
 1   id           45716 non-null  int64
 2   nametype     45716 non-null  object
 3   recclass     45716 non-null  object
 4   mass (g)     45585 non-null  float64
 5   fall         45716 non-null  object
 6   year         45425 non-null  object
 7   reclat       38401 non-null  float64
 8   reclong      38401 non-null  float64
 9   GeoLocation  38401 non-null  object
dtypes: float64(3), int64(1), object(6)
memory usage: 3.5+ MB

In [46]:
meteorites[['name', 'year']] # Using lists in calling 2 or more columns

             name                    year
0          Aachen  01/01/1880 12:00:00 AM
1          Aarhus  01/01/1951 12:00:00 AM
2            Abee  01/01/1952 12:00:00 AM
3        Acapulco  01/01/1976 12:00:00 AM
4         Achiras  01/01/1902 12:00:00 AM
...           ...                     ...
45711  Zillah 002  01/01/1990 12:00:00 AM
45712      Zinder  01/01/1999 12:00:00 AM
45713        Zlin  01/01/1939 12:00:00 AM
45714   Zubkovsky  01/01/2003 12:00:00 AM
45715  Zulu Queen  01/01/1976 12:00:00 AM

[45716 rows x 2 columns]

In [47]:
meteorites[100:104]

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
100,Benton,5026,Valid,LL6,2840.0,Fell,01/01/1949 12:00:00 AM,45.95000,-67.55000,"(45.95, -67.55)"
101,Berduc,48975,Valid,L6,270.0,Fell,01/01/2008 12:00:00 AM,-31.91000,-58.32833,"(-31.91, -58.32833)"
102,Béréba,5028,Valid,Eucrite-mmict,18000.0,Fell,01/01/1924 12:00:00 AM,11.65000,-3.65000,"(11.65, -3.65)"
103,Berlanguillas,5029,Valid,L6,1440.0,Fell,01/01/1811 12:00:00 AM,41.68333,-3.80000,"(41.68333, -3.8)"

In [49]:
meteorites.iloc[[0, 3, 4, 6]]

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,01/01/1880 12:00:00 AM,50.77500,6.08333,"(50.775, 6.08333)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,01/01/1976 12:00:00 AM,16.88333,-99.90000,"(16.88333, -99.9)"
4,Achiras,370,Valid,L6,780.0,Fell,01/01/1902 12:00:00 AM,-33.16667,-64.95000,"(-33.16667, -64.95)"
6,Adzhi-Bogdo (stone),390,Valid,LL3-6,910.0,Fell,01/01/1949 12:00:00 AM,44.83333,95.16667,"(44.83333, 95.16667)"

In [50]:
meteorites.iloc[:, [0, 3, 4, 6]]

             name              recclass  mass (g)                    year
0          Aachen                    L5      21.0  01/01/1880 12:00:00 AM
1          Aarhus                    H6     720.0  01/01/1951 12:00:00 AM
2            Abee                   EH4  107000.0  01/01/1952 12:00:00 AM
3        Acapulco           Acapulcoite    1914.0  01/01/1976 12:00:00 AM
4         Achiras                    L6     780.0  01/01/1902 12:00:00 AM
...           ...                   ...       ...                     ...
45711  Zillah 002               Eucrite     172.0  01/01/1990 12:00:00 AM
45712      Zinder  Pallasite, ungrouped      46.0  01/01/1999 12:00:00 AM
45713        Zlin                    H4       3.3  01/01/1939 12:00:00 AM
45714   Zubkovsky                    L6    2167.0  01/01/2003 12:00:00 AM
45715  Zulu Queen                  L3.7     200.0  01/01/1976 12:00:00 AM

[45716 rows x 4 columns]

In [54]:
meteorites.loc[100:104, 'mass (g)':'year']

     mass (g)  fall                    year
100    2840.0  Fell  01/01/1949 12:00:00 AM
101     270.0  Fell  01/01/2008 12:00:00 AM
102   18000.0  Fell  01/01/1924 12:00:00 AM
103    1440.0  Fell  01/01/1811 12:00:00 AM
104     960.0  Fell  01/01/2004 12:00:00 AM

In [57]:
meteorites.iloc[-1, -1]

'(33.98333, -115.68333)'

In [61]:
(meteorites['mass (g)'] > 50) & (meteorites.fall == 'Found') # Boolean mask for meteorites weighing more than 50 grams FOUND on Earth

0        False
1        False
2        False
3        False
4        False
         ...
45711     True
45712    False
45713    False
45714     True
45715     True
Length: 45716, dtype: bool

In [62]:
meteorites[(meteorites['mass (g)'] > 1e6) & (meteorites.fall == 'Fell')] # Conditional filtering

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
29,Allende,2278,Valid,CV3,2000000.0,Fell,01/01/1969 12:00:00 AM,26.96667,-105.31667,"(26.96667, -105.31667)"
419,Jilin,12171,Valid,H5,4000000.0,Fell,01/01/1976 12:00:00 AM,44.05000,126.16667,"(44.05, 126.16667)"
506,Kunya-Urgench,12379,Valid,H5,1100000.0,Fell,01/01/1998 12:00:00 AM,42.25000,59.20000,"(42.25, 59.2)"
707,Norton County,17922,Valid,Aubrite,1100000.0,Fell,01/01/1948 12:00:00 AM,39.68333,-99.86667,"(39.68333, -99.86667)"
920,Sikhote-Alin,23593,Valid,"Iron, IIAB",23000000.0,Fell,01/01/1947 12:00:00 AM,46.16000,134.65333,"(46.16, 134.65333)"

In [66]:
meteorites.query("`mass (g)` > 1e6 and fall == 'Fell'") # Alternative way for conditional filtering, can use logical and bitwise operators

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
29,Allende,2278,Valid,CV3,2000000.0,Fell,01/01/1969 12:00:00 AM,26.96667,-105.31667,"(26.96667, -105.31667)"
419,Jilin,12171,Valid,H5,4000000.0,Fell,01/01/1976 12:00:00 AM,44.05000,126.16667,"(44.05, 126.16667)"
506,Kunya-Urgench,12379,Valid,H5,1100000.0,Fell,01/01/1998 12:00:00 AM,42.25000,59.20000,"(42.25, 59.2)"
707,Norton County,17922,Valid,Aubrite,1100000.0,Fell,01/01/1948 12:00:00 AM,39.68333,-99.86667,"(39.68333, -99.86667)"
920,Sikhote-Alin,23593,Valid,"Iron, IIAB",23000000.0,Fell,01/01/1947 12:00:00 AM,46.16000,134.65333,"(46.16, 134.65333)"

In [67]:
meteorites.fall.value_counts() # Summary Statistics

fall
Found    44609
Fell      1107
Name: count, dtype: int64

In [69]:
meteorites.value_counts(subset=['nametype', 'fall'], normalize=False) # Normalize takes the percentage of the values

nametype  fall
Valid     Found    44534
          Fell      1107
Relict    Found       75
Name: count, dtype: int64

In [71]:
float(meteorites['mass (g)'].mean()) # Typecasting - The Boston Drama

13278.078548601512

In [73]:
type(meteorites['mass (g)'].mean())

numpy.float64

In [74]:
meteorites['mass (g)'].quantile([0.01, 0.05, 0.5, 0.95, 0.99])

0.01        0.44
0.05        1.10
0.50       32.60
0.95     4000.00
0.99    50600.00
Name: mass (g), dtype: float64

In [76]:
meteorites['mass (g)'].median() # Uses 50th Percentile

32.6

In [77]:
meteorites['mass (g)'].max() # The max value in the column

60000000.0

In [79]:
meteorites.loc[meteorites['mass (g)'].idxmax()] # idxmax = the index of the max value

name                             Hoba
id                              11890
nametype                        Valid
recclass                    Iron, IVB
mass (g)                   60000000.0
fall                            Found
year           01/01/1920 12:00:00 AM
reclat                      -19.58333
reclong                      17.91667
GeoLocation     (-19.58333, 17.91667)
Name: 16392, dtype: object

In [81]:
meteorites.loc[meteorites['mass (g)'].idxmin()] # idxmin = index of the min value

name                             Gove
id                              52859
nametype                       Relict
recclass                  Relict iron
mass (g)                          0.0
fall                            Found
year           01/01/1979 12:00:00 AM
reclat                      -12.26333
reclong                     136.83833
GeoLocation    (-12.26333, 136.83833)
Name: 12640, dtype: object

In [82]:
meteorites.recclass.nunique() # It shows the unique values in the dataset.

466

In [83]:
meteorites.recclass.unique()[:14] # Shows all 1 to 13 types

array(['L5', 'H6', 'EH4', 'Acapulcoite', 'L6', 'LL3-6', 'H5', 'L',
       'Diogenite-pm', 'Unknown', 'H4', 'H', 'Iron, IVA', 'CR2-an'],
      dtype=object)

In [86]:
meteorites.name.nunique()

45716

In [87]:
meteorites.describe(include='all')

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
count,45716,45716.000000,45716,45716,4.558500e+04,45716,45425,38401.000000,38401.000000,38401
unique,45716,NaN,2,466,NaN,2,266,NaN,NaN,17100
top,Aachen,NaN,Valid,L6,NaN,Found,01/01/2003 12:00:00 AM,NaN,NaN,"(0.0, 0.0)"
freq,1,NaN,45641,8285,NaN,44609,3323,NaN,NaN,6214
mean,NaN,26889.735104,NaN,NaN,1.327808e+04,NaN,NaN,-39.122580,61.074319,NaN
std,NaN,16860.683030,NaN,NaN,5.749889e+05,NaN,NaN,46.378511,80.647298,NaN
min,NaN,1.000000,NaN,NaN,0.000000e+00,NaN,NaN,-87.366670,-165.433330,NaN
25%,NaN,12688.750000,NaN,NaN,7.200000e+00,NaN,NaN,-76.714240,0.000000,NaN
50%,NaN,24261.500000,NaN,NaN,3.260000e+01,NaN,NaN,-71.500000,35.666670,NaN
75%,NaN,40656.750000,NaN,NaN,2.026000e+02,NaN,NaN,0.000000,157.166670,NaN
max,NaN,57458.000000,NaN,NaN,6.000000e+07,NaN,NaN,81.166670,354.473330,NaN

<h> Exercise (Part 1) </h>

In [88]:
yellTT_DF = pd.read_csv('C:/Users/tipqc/CPE311 - Paala/datasets/2019_Yellow_Taxi_Trip_Data.csv')
yellTT_DF.head()

,vendorid,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,ratecodeid,store_and_fwd_flag,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,2,2019-10-23T16:39:42.000,2019-10-23T17:14:10.000,1,7.93,1,N,138,170,1,29.5,1.0,0.5,7.98,6.12,0.3,47.90,2.5
1,1,2019-10-23T16:32:08.000,2019-10-23T16:45:26.000,1,2.00,1,N,11,26,1,10.5,1.0,0.5,0.00,0.00,0.3,12.30,0.0
2,2,2019-10-23T16:08:44.000,2019-10-23T16:21:11.000,1,1.36,1,N,163,162,1,9.5,1.0,0.5,2.00,0.00,0.3,15.80,2.5
3,2,2019-10-23T16:22:44.000,2019-10-23T16:43:26.000,1,1.00,1,N,170,163,1,13.0,1.0,0.5,4.32,0.00,0.3,21.62,2.5
4,2,2019-10-23T16:45:11.000,2019-10-23T16:58:49.000,1,1.96,1,N,163,236,1,10.5,1.0,0.5,0.50,0.00,0.3,15.30,2.5

In [90]:
yellTT_DF.shape

(10000, 18)

In [118]:
yellTT_DF.tip_amount.value_counts()

tip_amount
0.00     3143
1.00      497
2.00      386
2.06      126
2.36      119
         ...
40.00       1
4.17        1
12.70       1
15.10       1
10.70       1
Name: count, Length: 657, dtype: int64

In [119]:
yellTT_DF.fare_amount.value_counts()

fare_amount
52.0    447
6.5     442
6.0     438
7.5     423
7.0     419
       ...
36.3      1
56.0      1
73.0      1
76.0      1
62.5      1
Name: count, Length: 199, dtype: int64

In [121]:
yellTT_DF.tolls_amount.value_counts()

tolls_amount
 0.00      9164
 6.12       764
 12.50       16
 17.50        6
 5.76         6
 18.50        4
 2.80         4
 20.00        3
 15.25        2
 18.62        2
 18.00        2
 10.62        2
 15.00        1
 8.12         1
 17.90        1
 14.95        1
 15.95        1
 21.12        1
 8.62         1
 18.60        1
 12.24        1
 18.70        1
 9.50         1
-6.12         1
 12.54        1
 21.00        1
 25.00        1
 2.29         1
 10.00        1
 6.14         1
 14.70        1
 14.65        1
 13.90        1
 15.50        1
 612.00       1
 19.75        1
 27.00        1
Name: count, dtype: int64

In [122]:
yellTT_DF.total_amount.value_counts()

total_amount
 11.80    181
 12.30    175
 10.80    173
 13.30    166
 11.30    164
         ...
-4.80       1
 39.35      1
 74.90      1
 71.60      1
 53.50      1
Name: count, Length: 1097, dtype: int64

In [123]:
yellTT_DF.query("`mass (g)` and trip_distance.max()")

UndefinedVariableError: name 'BACKTICK_QUOTED_STRING_mass__LPAR_g_RPAR_' is not defined

Essay: In this exercise, I was not able to isolate all the columns because I got confused with the syntaxes. However, the things that I have learned here will greatly help me in the future.