# Hands-on Activity 6.1 Introduction to Data Analysis and Tools

**CPE311 Computational Thinking with Python**

Name: Paala, Anton <br>
Section: CPE22S3

Performed on: 04/05/2025 <br>
Submitted on: 04/05/2025 <br>
Submitted to: Engr. Roman M. Richard

# 6.1 Intended Learning Outcome

1. Use pandas and numpy data analysis tools.

2. Demonstrate how to analyze data using numpy and pandas

# 6.2 Resources:

- Personal Computer

- Jupyter Notebook

- Internet Connection

# 6.3 Supplementary Activities:

**Exercise 1**

Run the given code below for exercises 1 and 2, perform the given tasks without using any Python modules.

In [1]:
import random
random.seed(0)
salaries = [round(random.random()*10000000, -3) for _ in range(100)]

In [2]:
# getting the Mean
meannostat = sum(salaries)/len(salaries)
meannostat

5856720.0

In [3]:
# getting the Median
mediannostat = 0
if not len(salaries)%2:
    mediannostat = sorted(salaries)[len(salaries)//2]
else:
    mediannostat = (sorted(salaries)[len(salaries)//2] + salaries[len(salaries)//2-1])/2.0
mediannostat

5898000.0

In [4]:
# getting the Mode
modenostat = max(set(salaries), key=salaries.count)
modenostat

6128000.0

In [5]:
# getting the sample variance
list_sv = [(i-meannostat)**2 for i in salaries]
sv = sum(list_sv)/(len(salaries)-1)
sv

7066255112727.272

In [6]:
# getting the standard deviation
sv = sv**0.5
sv

2658242.8618783634

In [7]:
# the mean takes the sum of all numbers over the number of values
from statistics import mean
mean(salaries)

5856720.0

In [13]:
# The median takes the value of the middle number among the sorted data.
from statistics import median
median(salaries)

5887000.0

In [14]:
# This showcases the value that has the most occurences through the list.
from statistics import mode
mode(salaries)

6128000.0

In [15]:
# The mean subtracts each value, raising to square over the number of values minus one. 
from statistics import variance
variance(salaries)

7066255112727.272

In [12]:
# This is the squareroot of the variance
from statistics import stdev
stdev(salaries)

2658242.8618783634

**Exercise 2**

Using the same data, calculate the following statistics using the functions in the statistics module where appropriate:

In [16]:
- Range <br>
- Coefficient

SyntaxError: invalid syntax (1653267685.py, line 1)